parameters:
  level: 8
  paths:
    - src
    - .phan/config.php
  scanDirectories:
    - .phan/stubs
    - vendor/skaut/wordpress-stubs/stubs
  scanFiles:
    - vendor/skaut/wordpress-stubs/stubs/WordPress/functions.php
  dynamicConstantNames:
    - SCRIPT_DEBUG
