.post {
	margin: 0;
}

.one-container .inside-article.crdm-modern-excerpt {
	border-style: solid;
	border-width: 1px;
	padding-bottom: 0;
	position: relative;
	cursor: pointer;
	transition: color 0.1s ease-in-out; /* stylelint-disable-line plugin/no-unsupported-browser-features */
}

.post-image-aligned-center .crdm-modern-excerpt .post-image,
.generate-columns .crdm-modern-excerpt .post-image {
	position: relative;
	width: 100%;
}

.post-image-aligned-center .crdm-modern-excerpt .post-image,
.post-image-aligned-right .generate-columns .crdm-modern-excerpt .post-image {
	text-align: left;
}

.post-image-aligned-left .inside-article.crdm-modern-excerpt .post-image,
.post-image-aligned-right .inside-article.crdm-modern-excerpt .post-image,
.post-image-above-header .inside-article.crdm-modern-excerpt div.post-image {
	margin: 0;
}

.post-image-aligned-center .crdm-modern-excerpt .post-image a,
.generate-columns .crdm-modern-excerpt .post-image a {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.crdm-modern-excerpt .post-image .wp-post-image {
	object-fit: cover;
	vertical-align: bottom;
	width: 100%;
}

.post-image-aligned-center .crdm-modern-excerpt .wp-post-image,
.generate-columns .crdm-modern-excerpt .wp-post-image {
	height: 100%;
}

@media (max-width: 767px) {

	.generate-columns-container {
		margin-left: 0 !important;
	}
}

@media (max-width: 768px) {

	.crdm-modern-excerpt .post-image {
		position: relative;
		width: 100%;
	}

	body:not(.post-image-aligned-center) .inside-article.crdm-modern-excerpt .post-image {
		text-align: left;
	}

	.crdm-modern-excerpt .post-image a {
		height: 100%;
		position: absolute;
		top: 0;
	}

	.crdm-modern-excerpt .wp-post-image {
		height: 100%;
	}
}

@media (min-width: 769px) {

	.post-image-aligned-right .crdm-modern-excerpt .post-image {
		right: 0;
	}

	.post-image-below-header.post-image-aligned-right article:not(.generate-columns) .inside-article.crdm-modern-excerpt .post-image,
	.post-image-below-header.post-image-aligned-left article:not(.generate-columns) .inside-article.crdm-modern-excerpt .post-image {
		margin-top: 0;
		position: absolute;
		top: 0;
	}
}

.post-image-aligned-left .generate-columns .crdm-modern-excerpt .post-image,
.post-image-aligned-right .generate-columns .crdm-modern-excerpt .post-image {
	float: none;
}

.generate-columns-activated.post-image-aligned-left .generate-columns-container article:not(.featured-column) .crdm-modern-excerpt .post-image,
.generate-columns-activated.post-image-aligned-right .generate-columns-container article:not(.featured-column) .crdm-modern-excerpt .post-image {
	text-align: left;
}

.crdm-modern-excerpt .entry-header {
	position: relative;
}

.crdm-modern-excerpt .entry-summary {
	position: relative;
}

.crdm-modern-excerpt .read-more {
	display: block;
	font-weight: 700;
	margin-top: 1em;
}
