.footer-widgets .widget_nav_menu { /*stylelint-disable-line selector-class-pattern */
	font-weight: 700;
}

.footer-widgets .widget_text a { /*stylelint-disable-line selector-class-pattern */
	text-decoration: underline;
}

.footer-widgets .widget_nav_menu a:hover { /*stylelint-disable-line selector-class-pattern */
	text-decoration: underline;
}

footer.site-info {
	display: none;
}
